body{
	background: #e1e1e1;
}

nav.navbar-dark{
	background: #6495ED;
}

div.jumbotron{
	margin-top: 50px;
	background-image: url("../images/background.jpg");
	background-size: 100% 600px;
	background-repeat:no-repeat;
	height: 70vh;
}

div.jumbotron-content{
	color:#ffffff;
	padding: 30px;
	background: #030303;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.7;
	width: 100%;
}

.jumbotron-content h1{
	font-size: 40px
}

.jumbotron-content p{
	font-size: 20px;
}

div.plan-section{
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
}

div.plan-section img{
	width: 100%;
	margin-bottom: 10px;
	height: 300px;
}

/*Places Style */

.card-hotel{
	flex: 0 360px;	
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	/*box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);*/
	transition: transform 0.2s;
	border:1px solid #9f9f9f;
}

.card-hotel:hover{
	transform: scale(1.03,1.03);
}

.places-content{
	background: #ffffff;
	padding: 20px;
}

.card-hotel h4.card-title{
	font-size: 25px;
}

/**/

footer.jumbotron{
	margin-top: 20px;
	background: #ffffff;
}

a.btn{
	width: 100%;
	border-radius: 0px;
}

/*Contact style*/

.form-contact{
	border-top: 3px solid #6495ED;
	border-bottom: 3px solid #6495ED;
	padding: 40px;
}

/*Tabs style*/
.tab-pane{
	background-color: #ffffff;
	padding:20px;
	font-weight: 600;
}